.header-profile {
  position: absolute;
  right: 200px;
  top: 50px;
  display: flex;
  gap: 20px;
}

.header-profile__button {
  color: rgba(47, 113, 229, 1);
  background-color: white;
  border: solid 2px;
  border-radius: 100px;
  padding: 0.6em 1.2em;
}

.header-profile__button:hover {
  color: rgb(175, 118, 177);
  border: rgb(175, 118, 177) solid 2px;
}

@media screen and (max-width: 1100px) {
  .header-profile {
    right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .header-profile {
    right: 25px;
    flex-direction: column;
    gap: 10px;
  }
  .header-profile__button {
    /* width: 20px;
    height: 20px; */
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  .header-profile__button {
    /* font-size: 8px; */
  }
  .header-profile {
    flex-direction: row;
    gap: 5px;
    top: 95px;
    right: 33%
  }
}

@media screen and (max-width: 400px) {
  /* .header-profile__button {
    font-size: 4px;
  } */
  .header-profile {
    /* gap: 5px; */
    top: 64px;
    /* right: 5px; */
    right: 30%;
  }
}
