.wordle {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* .delete__later {
      margin: 80px auto;
      font-size: 20px;
      color: #000;
      margin: 600px auto;
    }
    
    .delete__later-span {
      color: white;
    }
     */
.wordle__grid-button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 985px) {
  .wordle {
    width: 100%;
    height: 700px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .wordle {
    height: 600px;
  }
}
