.popup {
  background: white;
  width: 300px;
  height: 200px;
  border: 2px solid  #4267b2;
  position: absolute;
  z-index: 99;
  top: 620px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
}

.popup__button:hover {
  cursor: pointer;
}

.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/closeFormButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.popup__close:hover {
  cursor: pointer;
}