.app {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    min-height: 100vh;

  }
  
  .app__body {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    justify-content: center;
    padding: 20px;
    flex: 1;
    width: 100vw;
    /* margin-top: 50px; */
  }
  @media screen and (max-width: 800px) {
    .app__body {
 padding: 0;
    }
  }
  